Repository mhaidarhanif/rewinds-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.ts?(x)": [
    "bash -c 'npm run typecheck'"
  ]
}

refactor: env and getenv usage
  .commitlintrc
  README.md
  app/root.tsx
  app/routes/examples/debug.tsx
  app/routes/subscribe.tsx
  app/utils/env.server.ts
  remix.env.d.ts
Due: prettier --write, eslint --fix

refactor: blog article with nested routes and outlet
  app/components/footer/footer-complex-form.tsx
  app/contents/blog/article.tsx
  app/contents/examples/forms.tsx
  app/libs/markdoc.ts
  app/routes/blog.tsx
  app/routes/blog/$articleSlug.tsx
  app/routes/blog/index.tsx
  app/routes/examples/graphql.tsx
  app/routes/examples/rest.tsx
  app/types/index.ts
  app/types/markdoc.ts
  app/utils/sleep.ts
Due: prettier --write, eslint --fix

feat: example theme with theme toggle button
  README.md
  app/components/button-icon.tsx
  app/components/index.ts
  app/components/navigation/navigation-bar.tsx
  app/components/themes/index.ts
  app/components/themes/theme-provider.tsx
  app/components/themes/theme-switcher.tsx
  app/components/themes/theme-toggle.tsx
  app/configs/features.ts
  app/configs/navigation.ts
  app/routes/blog/$articleSlug.tsx
  app/routes/examples/index.tsx
  app/routes/examples/theme.tsx
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

[ImgBot] Optimize images
  public/assets/screenshots/home-dark.png
  public/assets/screenshots/home-light.png
Due: none

feat: refine tailwindcss config with v3.1
  .vscode/extensions.json
  README.md
  app/components/component.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --fix

docs: more list of stacks
  README.md
  app/data/stacks.ts
  app/data/texts.ts
  app/types/common.ts
Due: prettier --write, eslint --fix

refactor: rename remix and vechai components and types
  README.md
  app/components/accordion/accordion-radixui.tsx
  app/components/accordion/index.ts
  app/components/button/button-anchor.tsx
  app/components/button/button-navlink.tsx
  app/components/button/button.tsx
  app/components/common/code.tsx
  app/components/common/index.ts
  app/components/disclosure/disclosure-headlessui.tsx
  app/components/disclosure/index.ts
  app/components/icon/icon.tsx
  app/components/index.ts
  app/components/navigation/navigation-bar-dropdown-menu.tsx
  app/components/navigation/navigation-bar-menu.tsx
  app/components/remix/index.ts
  app/components/remix/remix-link.tsx
  app/components/remix/remix-navlink.tsx
  app/components/remix/remix.tsx
  app/components/themes/theme-provider.tsx
  app/components/themes/theme-switcher.tsx
  app/configs/style.ts
  app/configs/themes.ts
  app/contents/common/cta.tsx
  app/contents/examples/buttons.tsx
  app/contents/messages/error.tsx
  app/contents/pricing/content.tsx
  app/features/sessions.ts
  app/libs/icons.ts
  app/types/react.ts
  app/types/vechaiui.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: accordion with radix ui
  .vscode/rewinds.code-snippets
  app/components/accordion/accordion-radixui.tsx
  app/components/collapsible/collapsible-radixui.tsx
  app/components/collapsible/index.ts
  app/components/common/anchor.tsx
  app/components/common/component.tsx
  app/components/tabs/index.ts
  app/components/tabs/tabs-headlessui.tsx
  app/components/tabs/tabs-radixui.tsx
  app/components/tabs/tabs.tsx
  app/components/themes/theme-switcher.tsx
  app/components/themes/theme-toggle.tsx
  app/configs/navigation.ts
  app/contents/examples/tabs.tsx
  app/libs/index.ts
  app/libs/prop-types.ts
  app/routes/examples/accordion.tsx
  package-lock.json
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: refine icon set
  app/components/icon/icon.tsx
  app/libs/icons.ts
Due: prettier --write, eslint --fix

feat: refine nav with theme switcher group variant
  README.md
  app/components/button/button.tsx
  app/components/navigation/navigation-bar-dropdown-menu.tsx
  app/components/navigation/navigation-bar.tsx
  app/components/themes/theme-switcher.tsx
  app/components/themes/theme-toggle.tsx
  app/contents/home/intro.tsx
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

fix: script dev explicit
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write

feat: improve some graphql and styles
  app/components/navigation/navigation-menu.tsx
  app/contents/blog/article.tsx
  app/graphql/README.md
  app/graphql/article.ts
  app/graphql/index.ts
  app/graphql/page.ts
  app/graphql/product.ts
  app/models/README.md
  app/models/article.server.ts
  app/utils/date.ts
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: put authors in the article components
  app/components/avatar/avatar-group.tsx
  app/components/avatar/avatar-vechaiui.tsx
  app/components/avatar/avatar.tsx
  app/components/avatar/index.ts
  app/components/common/anchor.tsx
  app/components/common/avatar.tsx
  app/components/common/index.ts
  app/components/index.ts
  app/components/navigation/navigation-bar.tsx
  app/components/navigation/navigation-menu.tsx
  app/contents/blog/article.tsx
  app/graphql/article.ts
  app/graphql/author.ts
  app/types/common.ts
  app/types/vechaiui.ts
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: better style of prose and article content with code blocks
  .vscode/rewinds.code-snippets
  README.md
  app/components/index.ts
  app/components/rich-text/README.md
  app/components/rich-text/index.ts
  app/components/rich-text/rich-text-graphcms.tsx
  app/components/rich-text/rich-text-markdoc.tsx
  app/contents/blog/article.tsx
  app/graphql/article.ts
  app/libs/dayjs.ts
  app/libs/markdoc.ts
  app/routes/blog/$articleSlug.tsx
  app/types/common.ts
  app/types/data.ts
  app/utils/date.ts
  app/utils/json.ts
  package-lock.json
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: checkpoint try to implement advanced code block for syntax highlight
  app/components/code/code-block-prism.tsx
  app/components/code/code-highlight-prism.tsx
  app/components/code/code-vechaiui.tsx
  app/components/code/index.ts
  app/components/common/code.tsx
  app/components/common/index.ts
  app/components/index.ts
  app/components/themes/theme-toggle.tsx
  app/libs/markdoc/index.ts
  app/libs/markdoc/markdoc.ts
  app/libs/markdoc/nodes.ts
  app/libs/markdoc/tags.ts
  app/routes/examples/code-highlight.tsx
  app/routes/layouts/full.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: implement fence in markdoc client
  app/components/code/code-block-prism.tsx
  app/components/rich-text/rich-text-graphcms.tsx
  app/contents/blog/article.tsx
  app/graphql/article.ts
  app/libs/markdoc/index.ts
  app/libs/markdoc/markdoc.server.ts
  app/libs/markdoc/markdoc.tsx
  app/routes/blog/$articleSlug.tsx
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

build: upgrade dependencies, especially remix v1.6
  package-lock.json
  package.json
Due: none

chore: remove standard-version as it is now deprecated
  README.md
  app/routes/about.tsx
  package-lock.json
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

refactor: link item and anchor item type check
  .eslintrc
  README.md
  app/components/footer/footer-complex.tsx
  app/components/navigation/navigation-bar-menu.tsx
  app/configs/navigation.ts
  app/types/common.ts
  app/types/config.ts
  app/types/index.ts
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: crisp chat component
  .env.example
  .lintstagedrc
  .vscode/rewinds.code-snippets
  app/components/chat/chat-crisp.tsx
  app/components/chat/index.ts
  app/components/common/video.tsx
  app/components/index.ts
  app/configs/features.ts
  app/features/sessions.ts
  app/root.tsx
  app/routes/about.tsx
  app/routes/examples/theme.tsx
  app/routes/search.tsx
  app/utils/env.server.ts
  package.json
  remix.env.d.ts
Due: prettier --write, eslint --fix

build: upgrade dependencies
  README.md
  package-lock.json
  package.json
Due: none

build: upgrade dependencies
  package-lock.json
  package.json
Due: none

docs: more links and explanation
  README.md
  app/components/common/logo.tsx
  app/components/footer/footer-complex-form.tsx
  app/components/navigation/navigation-bar.tsx
  app/components/navigation/navigation-menu.tsx
  app/configs/document.ts
  app/configs/meta.ts
  app/contents/common/subscribe.tsx
  app/contents/home/intro.tsx
  app/routes/about.tsx
  app/routes/pricing.tsx
  app/routes/subscribe.tsx
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

docs: fix readme
  README.md
Due: none

docs: .github config issue template and profile
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/1.Bug_report.md
  .github/ISSUE_TEMPLATE/2.Feature_request.md
  .github/ISSUE_TEMPLATE/3.Improve_docs.md
  .github/ISSUE_TEMPLATE/4.Create_a_chore.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/profile/README.md
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Due: none

refactor: prism line number in code highlight and markdoc fence
  .env.example
  README.md
  app/components/chat/chat-crisp.tsx
  app/components/code/code-block-prism.tsx
  app/components/code/code-highlight-prism.tsx
  app/contents/blog/article.tsx
  app/libs/index.ts
  app/libs/markdoc/markdoc.server.ts
  app/libs/markdoc/markdoc.tsx
  app/libs/prism/code.ts
  app/libs/prism/index.ts
  app/libs/prism/theme.ts
  app/types/components.ts
  app/types/index.ts
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

refactor: import export of react hooks
  app/components/code/code-block-prism.tsx
  app/components/common/dropdown-menu.tsx
  app/components/dialog/dialog-headless.tsx
  app/components/navigation/navigation-bar-menu.tsx
  app/components/tabs/tabs.tsx
  app/components/themes/theme-provider.tsx
  app/hooks/use-react.tsx
  app/libs/markdoc/markdoc.tsx
Due: prettier --write, eslint --fix

fix: heading styling especially for article
  app/contents/blog/article.tsx
  app/utils/date.ts
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: config style footer simple and complex
  README.md
  app/components/footer/footer-complex.tsx
  app/components/footer/footer-simple.tsx
  app/components/footer/footer.tsx
  app/components/footer/index.ts
  app/components/navigation/navigation-bar.tsx
  app/configs/style.ts
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

refactor: separate article link from article component
  app/contents/blog/article-link.tsx
  app/contents/blog/article.tsx
  app/contents/blog/index.ts
  app/contents/examples/footers.tsx
  app/graphql/article.ts
  styles/global.css
Due: stylelint --fix, prettier --write, eslint --fix

fix: stacks description
  app/data/stacks.ts
Due: prettier --write, eslint --fix

build: postinstall auto cp -i .env
  .gitignore
  README.md
  package.json
  styles/global.css
Due: stylelint --fix, prettier --write

feat: improve accordion a bit
  app/components/accordion/accordion-radixui.tsx
  app/components/accordion/accordion.tsx
  app/components/disclosure/disclosure-headlessui.tsx
Due: prettier --write, eslint --fix

chore(package): upgrade all dependencies
  package-lock.json
  package.json
Due: none

docs: explain react v17-v18 issue with vechai ui
  README.md
Due: none

docs: update warning around react v17-v18
  README.md
Due: none

docs: add warning
  README.md
Due: none

docs: update notice
  README.md
Due: none
